



@charset "ISO-8859-1";

body{
	
	background: #e2e2e2!important;
}

.bg-primary{
	

}

.banner{
	width:100%;
	height:93vh;
	background:linear-gradient(rgba(5,25,74,20),rgba(4,15,20,.7)), url(../image/contact-us-scaled-1.jpg);
	color:white;
	background-size: cover;
	/*linear-gradient(rgba(0,0,0,.8),rgba(0,0,0,.8)),*/
}
 
.plainimage{
	width : 100%;
	height: 93vh;
	background: linear-gradient(rgba(5,25,74,20),rgba(4,15,20,.7)), url(../image/plain-blue.jpg);
	color: white;
	background-size: cover;
	
}

.my-card{
	padding : 20px;
	background:#FFFFFF;
	margin: 5px;
}

#login .container #login-row #login-column #login-box {
  margin-top: 120px;
  max-width: 600px;
  height: 430px;
  border: 1px solid #9C9C9C;
  background-color: white;
}
#login .container #login-row #login-column #login-box #login-form {
  padding: 20px;
}
#login .container #login-row #login-column #login-box #login-form #register-link {
  margin-top: -85px;
}


/*sidebar style */




@media only screen and(max-width: 800px){
	.sidebar{
	display: none;
	width: 80% !important;
	background: white;
	height: 100vh;
	position: fixed;
	padding-top: 20px;
	}
	.content{
	margin-left: 0% !important;
	}
}


.sidebar{
	width:25%;
	background: grey;
	height: 100%;
	position: fixed;
	padding-top: 45px;
	
	
	z-index: 999999999999999999999999999;
	
}

.sidebar a{
	display: block;
	width: 100%;
	padding: 10px 25px;
	text-decoration: none;
	color: white;
	
	
}
.sidebar a:hover{
	
	background:#5F9EA0;
}

.sidebar .divider{
	
	height: 5px;
	width: 100%;
	background: #e2e2e2;
	margin-top: 10px;
}


.content{
	
	margin-left: 25%;
	
}

.sidebar .closebtn{
	
	position: absolute;
	top: 0px;
	right: 35px;
	font-size: 36px;
	cursor:pointer;

	
	
}


 /*<!-- 24 -->*/

.my_profile_picture{
	width: 35px;
	height: 35px;
	object-fit:cover;
	border-radius:50%;
}
 

.myprofile{
	width:200px;
	height: 200px;
	object-fit:cover;
	border-radius:50%;
	
}
/*<!-- 24 -->*/


/* search */

.search-container{
	
	position: relative;
	
}
.search-result{
	position: absolute;
	background:white;
	width: 100%;
	padding: 10px;
	display: none;
}








